name: Gradle Check

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  gradle-check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: "kotlin-2.0"
            kotlin-version: "2.0.21"
            serialization-version: "1.7.3"
          - name: "kotlin-2.1"
            kotlin-version: "2.1.21"
            serialization-version: "1.8.1"
          - name: "kotlin-2.2"
            kotlin-version: "2.2.21"
            serialization-version: "1.9.0"
    name: "gradle-check:${{ matrix.name }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Run gradle check
        run: ./gradlew check -Pkotlin.version.override=${{ matrix.kotlin-version }} -Pkotlinx.serialization.version.override=${{ matrix.serialization-version }}
