name: Gradle Check

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  gradle-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Run gradle check
        run: ./gradlew check
